@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
}

a{
    text-decoration: none;
    color: black;
}
.flex{
    display: flex;
}

.active{
    border-left: 2.5px solid #CA2E55;
}

.side-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    transition: 0.5s;
    z-index: 999;
    padding: 2rem 0;
    background-color: #F3F6F9;
}

.side-bar ul{
    list-style-type: none;
    margin-top: 2rem;

}

.side-bar h1{
    padding-left: 2.5rem;
}


.side-bar ul li a{
    display: inline-block;
    padding: 1rem 0;
    padding-left: 2.5rem;
    width: 100%;
}


.side-bar ul li:hover{
    background-color: #FFF;
    border-left: 2.5px solid #CA2E55;
}
/* MAIN */
main{
    margin-left: 250px;
}


.infos{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}

.infos .info{
    padding: 1rem 0;
    background-color: #F3F6F9;
    margin-left: 1rem;
    margin-top: 1rem;
    display: flex;
    
}

.infos .info .flex{
    flex-direction: column;
    justify-content: center;
}


.infos .info img{
    width: 50px;
    margin-right: 2em;
    margin-left: 1em;
}

.infos .info .flex .info-desc{
    color: #757575;
}

.infos .info .flex .price{
    font-weight: 600;
}

.charts{
    padding-top: 4rem;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );

}
.charts .chart{
    height: 400px;
}

.chart{
    height: 400px;
}

.anychart-credits{
    display: none;
}