@import 'sidebar.css';

table{
  width: 97%; 
  border-collapse: collapse;

}
main{
  padding: 1em;
}
.cart-info{
display: flex;
flex-wrap: wrap;
}
.info-product{
margin-left: 45px;
transform: translateY(33%);
}
th{ 
text-align: left; 
padding: 5px;
color: rgb(65, 65, 65); 
font-weight: normal; 
border-bottom: 1px solid #c9c9c9;
}


td{
padding: 20px 10px;
border-bottom: 1px solid #c9c9c9;
text-align: center;

}
.photo {
  width: 15%;
  height: 80%;
  border: 1px solid rgb(175, 175, 175);
  background-color: #fff;
  
}
th{
  text-align: center;
}

input[type="submit"]
{
  margin-top: 1em;
  padding: .9em 4em;
  outline: 0;
  border: none;
  border-radius: 3px; 
  background-color: #CA2E55;
  color: white;
  cursor: pointer;
  margin-left: .5em;
}




