@import 'header.css';
@import 'footer.css';
@import 'general.css';
.containe {

  float: left;
  width: 75%;
}
.info {
  display: flex;
  float: left;
  width: 25%;
}
li.art{
  border-bottom:solid  1px #E6E2E6;
  border-left: none;
  border-right: none;
  border-top: none;
  margin-bottom: 20px;
}
.clon:after {
  content: "";
  display: table;
  clear: both;
}
nav.pageactuel{
  margin-bottom: 30px;
 
}
h1 .icon{
  position: relative;
  top: 9px;
}
h1{
  font-size:medium;
  font-weight: 400;
}
.icon{
  width: 30px !important;

}
