@import 'general.css';
@import 'header.css';
@import 'footer.css';
/*-------------panier-------------*/
.cart-page{
    margin: 50px auto;
    
}
table{
    width: 100%; 
    border-collapse: collapse;
}

.cart-info{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.info-product{
  margin-left: 45px;
}
th{ 
  text-align: left; 
  padding: 5px;
  color: rgb(65, 65, 65); 
  font-weight: normal; 
  border-bottom: 1px solid #c9c9c9;
}

.cart-page tbody:nth-child(2){
  background-color: #fafafa;
}

.cart-page tbody input{
  width: 80px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 13px;
  padding: 10px;
  outline-color: #CA2E55;
}

td{
  padding: 20px 10px;
  border-bottom: 1px solid #c9c9c9;
}

.cart-page tbody .photo {
  width: 15%;
  height: 80%;
  border: 1px solid rgb(175, 175, 175);
  background-color: #fff;
  
}

.cart-page tbody .icon:hover{
  filter: invert(32%) sepia(68%) saturate(5173%) hue-rotate(329deg) brightness(83%) contrast(87%);
}

.btn-group{
  display: flex;
}
.boutton{
  
  margin-right: 10px;
  border: none ;
  border-radius: 30px;
  cursor: pointer;
} 
.boutton1{
  
  color: #333e48;
  background-color: #efecec;
  
}
.boutton2{
  color: #fafafa;
  background-color: #CA2E55;
}
.actions{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.total span{
  font-size: 2rem;
}
.total p{
  font-size: 1.4rem;
}

h3.panier-vide{
  padding: 80px 0;
  border-left: 25px solid #e74d73;
  background: linear-gradient(#CA2E55, #d83f65);
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
}

@media (max-width: 850px)
{
  .cart-info img{
    display: none;
  }

  .info-product{
    transform: none;
  }
}
.boutton2 a{
  color: #fafafa;
  padding: 15px;
}

.boutton1{
  padding: 15px;
}