/* IMPORTING GENERAL STYLES */
@import "general.css";

/* HEADER */
header .header-top{
    padding: .8em 0;
    border-bottom: 0.1px solid rgb(204, 204, 204);
}

header .header-top .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-top .container .navbar li{
    display: inline-block;
    margin: 0 1.2em;
  
}

header .header-top .container .navbar li a{
    color: #666;
}

header .header-top p,
header .header-top ul{
    font-size: .929em;
    font-weight: 400;
    color: #666;
}

@media (max-width: 830px){
  header .header-top{
    display: none;
  }

  header .header-bottom .account{
    display: inline;
  }
}


/* HEADER BOTTOM */
header .header-bottom{
    padding: 3em 0;
}

header .header-bottom .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

header .header-bottom .logo{
    font-size: 2.2em;
    font-weight: 700;
}

header .header-bottom .search{
    flex: .8;
    display: flex;
    justify-content: center;
}

header .header-bottom .search input{
    display: inline-block;
    width: 70%;
    padding-left: .5em;
    outline: 0;
    padding-top: .4em;
    padding-bottom: .4em;
    font-size: 1.2rem;
}

header .header-bottom .search button{
    background-color: #CA2E55;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 50px;
    outline: 0;
    border: 0;
    cursor: pointer;
}

header .header-bottom .search button img{
    width:2em;
}

header .header-bottom .cart img{
    width: 50px;
    
}

header .header-bottom .cart a:last-child{
  position: relative;
}

header .header-bottom .cart span{
  content: '';
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #CA2E55;
  bottom: 0;
  right: 0;
  text-align: center;
}


.header-bottom .account{
  width: 37px !important;
  position: relative;
  bottom: 6px;
  display: none;
}

@media (max-width: 750px){
 
  
  header .header-bottom .logo{
    width: 100%;
    font-size: 1.9rem;
  }

  header .header-bottom .cart{
    width: 100%;
    text-align: end;
  }

  header .header-bottom{
    padding-top: 0;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 4rem;
  }

  header .header-bottom .search{
    position: absolute;
    top: 120%;
    width: 100%;
   
  }

  header .header-bottom .search input{
    font-size: 1em;
  }
}
/* END HEADER */
/* LEFT */
.produits {
  display: flex;
}

.produits .produit{
  text-align: center;
  font-size: .9em;
  transition: .3s;
}

.produits .produit:hover{
  box-shadow: #CA2E55 0px 1px 4px;
  z-index: 1;
}

.produits .produit:hover button{
  background-color: #CA2E55;
  color: #FFF;
}

.produits .produit p{
  min-height: 43px;
}

.produits .produit{
  border-left: 1px solid rgb(204, 204, 204);
  border-right: 1px solid rgb(204, 204, 204);
}

.produits .produit img{
  max-width: 55%;
  height: auto;
}

.produits .produit span{
  color: #CA2E55;
  display: inline-block;
  font-weight: 500;
  font-size: 1.15em;
  margin: .4em 0;
}

.produits .produit button{
  display: block;
  width: 77%;
  margin: 0 auto;
  padding: .8em 1.4em;
  margin-bottom: 5px;
  border: 0;
  background-color: transparent;
  color: #C8C8C8;
  border: 1px solid #C8C8C8;
  cursor: pointer;
  transition: .3s;
}


/* END PRODUCTS */

.produits .left h3{
  font-weight: 400;
  border-bottom: 1px solid #C8C8C8;
  padding-bottom: .3em;
  position: relative;
}

.produits .left h3::before{
  position: absolute;
  content: '';
  width: 70px;
  height: 2px;
  background-color: #CA2E55;
  bottom: -1px;
  left: 0;
}

.produits .left{
    width: 330px;
    height: 400px;
}

@media (max-width: 1200px){
  .produits .left{
    display: none;
  }
}
/* END LEFT */



/* RIGHT */
.produits .right{
    width: 100%;
    padding-left: 1.2em;
}

.produits .right h2{
  font-size: 1.786em;
  font-weight: 300;
  
}
/* END RIGHT */